extends layout

block header
  include header/header

block main
  main.page-content
    .message
      .message__text
        p На сайте еще не опубликовано ни&nbsp;одного объявления.
      a.message__link.btn.btn--big(href='#') Вход и регистрация
