doctype html
include head/head
include header/header
main.page-content
  .message
    .message__text
      p На сайте еще не опубликовано ни&nbsp;одного объявления.
    a.message__link.btn.btn--big(href='#') Вход и регистрация
include footer/footer
script(src='js/vendor.js')
script(src='js/main.js')
